{% extends 'base.html' %}

{% block head %}
<title>Chairing: Login</title>
{% endblock %}

{% block body %}
<div class="login-signup-container" style="height: 350px">
    <h1 style="text-align: left;">Already have an account?</h1>

    <form>
        <!--Username-->
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Enter you username">

        <!--Password-->
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter you password">

        <!--Login button-->
        <button type="submit" class="btn btn-black">Login</button>
    </form>

    <!--No Account / Sign Up-->
    <p class="no-account">No account: <a href="{{ url_for('signup') }}" class="btn btn-transparant" style="padding: 10px 10px; margin-top: 20px;">Sign Up</a></p>
</div>
{% endblock %}