{% extends 'base.html' %}

{% block head %}
<title>Chairing: Sign Up</title>
{% endblock %}

{% block body %}
<div class="login-signup-container" style="height: 650px">
    <h1 style="text-align: left;">Create your account: </h1>

    <form>
        <!--Username-->
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Enter you username">

        <!--Email-->
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Enter you email">

        <!--Student ID-->
        <label for="studentID">Student ID</label>
        <input type="text" id="studentID" name="studentID" placeholder="Enter you Student ID">

        <!--Password-->
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter you password">

        <!--Confirm password-->
        <label for="confirm_password">Confirm Password</label>
        <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm you password">

        <!--Sign Up button-->
        <button type="submit" class="btn btn-black">Sign Up</button>
    </form>

    <!--Already have an account / Login-->
    <p class="have-account">Already have an account? <a href="{{ url_for('login') }}" class="btn btn-transparant" style="padding: 10px 10px; margin-top: 20px;">Login</a></p>
</div>
{% endblock %}