{% extends 'base.html' %}

{% block head %}
<title>All Locations</title>
{% endblock %}

{% block body %}
<!-- Top white bar -->
<div style="display: flex; justify-content: center; align-items: center; background-color: white; padding: 10px 10px; border-bottom: 1px solid #eaeaea; position: fixed; top: 0; width: 100%; z-index: 1000; text-align: center;">
    <!-- Left Section: Logo and Buttons -->
    <div style="display: flex; align-items: center; justify-content: center;">
        <a href="{{ url_for('main.main_page') }}" style="display: inline-block;">
            <img src="{{ url_for('static', filename='images/logo_wit2.JPG') }}" alt="logo" style="height: 50px; margin-right: 20px; top: -3px;">
        </a>
        <!-- Home Button -->
        <form action="{{ url_for('main.main_page') }}" method="get" style="margin-left: 30px;">
            <button type="submit" style="background: none; border: none; font-size: 1.3em; color: #333; cursor: pointer;">Home</button>
        </form>
        <!-- Locations Dropdown -->
        <div style="position: relative; margin-left: 30px;">
            <button style="background: none; border: none; font-size: 1.3em; color: #333; cursor: pointer;">Locations ▼</button>
            <div class="dropdown-menu" style="width: 200px; position: absolute; top: 100%; left: 0; background: white; border: 1px solid #ccc; border-radius: 10px; display: none; padding: 5px;">
                <a href="{{ url_for('main.all_locations') }}" style="text-decoration: none; color: #333; display: block; padding: 5px; text-align: left;">All Locations</a>
                <a href="{{ url_for('main.upload_location') }}" style="text-decoration: none; color: #333; display: block; padding: 5px; text-align: left;">Upload Location</a>
                <a href="{{ url_for('main.your_bookings') }}" style="text-decoration: none; color: #333; display: block; padding: 5px; text-align: left;">Your Bookings</a>
            </div>
        </div>
        <!-- Reservation Dropdown -->
        <div style="position: relative; margin-left: 30px;">
            <button style="background: none; border: none; font-size: 1.3em; color: #333; cursor: pointer;">Reservations ▼</button>
            <div class="dropdown-menu" style="width: 200px; position: absolute; top: 100%; left: 0; background: white; border: 1px solid #ccc; border-radius: 10px; display: none; padding: 5px;">
                <a href="{{ url_for('main.make_reservation') }}" style="text-decoration: none; color: #333; display: block; padding: 5px; text-align: left;">Make Reservation</a>
                <a href="{{ url_for('main.your_reservations') }}" style="text-decoration: none; color: #333; display: block; padding: 5px; text-align: left;">Your Reservations</a>
            </div>
        </div>
        <!-- About Us Button -->
        <form action="{{ url_for('main.about') }}" method="get" style="margin-left: 30px; margin-right: 150px;">
             <button type="submit" style="background: none; border: none; font-size: 1.3em; color: #333; cursor: pointer;">About Us</button>
        </form>

    </div>

    <!-- Right Section: Authentication Buttons -->
    <div style="display: flex; align-items: center; gap: 10px;">
        <!-- Your Account Button -->
        <form action="{{ url_for('main.account') }}" method="get" style="margin-left: 150px;">
            <button type="submit" style="display: flex; align-items: center; background: none; border: none; font-size: 1.3em; color: #333; cursor: pointer;">
                <!-- User Image (replace with your image path) -->
                <img src="{{ url_for('static', filename='images/user.jpg') }}" alt="User Avatar" width="25" height="25" style="margin-right: 10px; border-radius: 0; color: #1946ca;">
                Your Account
            </button>
        </form>

        <span style="color: #ccc;">|</span>
        <!-- Logout Button -->
        <form action="{{ url_for('main.home') }}" method="get" style="margin: 0;">
            <button type="submit" style="background: none; border: none; font-size: 1.3em; color: #333; cursor: pointer;">Logout</button>
        </form>
    </div>
</div>

<div class="locations-container" style="margin-top: 100px; margin-bottom: 30px;">
    <!-- Logo -->
    <div style="display: flex; justify-content: center; align-items: center; height: 100%; margin-top: 20px;">
        <img src="{{ url_for('static', filename='images/logo_wit.jpg') }}" alt="logo" style="width: 150px;">
    </div>

    <!-- Page title -->
    <h1 style="text-align: center; color: black; font-size: 2.5em; font-weight: bold;">All Locations</h1>

    <!-- Sorting Form and Filter forms -->
    <div style="text-align: center; margin-bottom: 20px;">

        <!-- Sorting -->
        <form action="{{ url_for('main.all_locations') }}" method="get">
            <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 20px;">
                <div>
                    <label for="sort">Sort by:</label>
                    <select name="sort" id="sort" onchange="this.form.submit()">
                        <option value="" {% if not request.args.get('sort') %}selected{% endif %}>No Sorting</option>
                        <option value="desc" {% if request.args.get('sort') == 'desc' %}selected{% endif %}>Rating (Highest to Lowest)</option>
                        <option value="asc" {% if request.args.get('sort') == 'asc' %}selected{% endif %}>Rating (Lowest to Highest)</option>
                        <option value="seats_desc" {% if request.args.get('sort') == 'seats_desc' %}selected{% endif %}>Available Seats (Most to Least)</option>
                        <option value="seats_asc" {% if request.args.get('sort') == 'seats_asc' %}selected{% endif %}>Available Seats (Least to Most)</option>
                    </select>
                </div>
                
                <!-- Filter by Opening Day -->
                <div>
                    <label for="opening_day">Filter by Opening Day:</label>
                    <select name="opening_day" id="opening_day" onchange="this.form.submit()">
                        <option value="" {% if not request.args.get('opening_day') %}selected{% endif %}>No Filter</option>
                        <option value="monday_open" {% if request.args.get('opening_day') == 'monday_open' %}selected{% endif %}>Monday Open</option>
                        <option value="tuesday_open" {% if request.args.get('opening_day') == 'tuesday_open' %}selected{% endif %}>Tuesday Open</option>
                        <option value="wednesday_open" {% if request.args.get('opening_day') == 'wednesday_open' %}selected{% endif %}>Wednesday Open</option>
                        <option value="thursday_open" {% if request.args.get('opening_day') == 'thursday_open' %}selected{% endif %}>Thursday Open</option>
                        <option value="friday_open" {% if request.args.get('opening_day') == 'friday_open' %}selected{% endif %}>Friday Open</option>
                        <option value="saturday_open" {% if request.args.get('opening_day') == 'saturday_open' %}selected{% endif %}>Saturday Open</option>
                        <option value="sunday_open" {% if request.args.get('opening_day') == 'sunday_open' %}selected{% endif %}>Sunday Open</option>
                    </select>
                </div>
                
                <!-- Filter by Location -->
                <div>
                    <label for="city">Filter by Location:</label>
                    <select name="city" id="city" onchange="this.form.submit()">
                        <option value="" {% if not request.args.get('city') %}selected{% endif %}>No Filter</option>
                        {% for city, country in cities %}
                            <option value="{{ city }}|{{ country }}" {% if request.args.get('city') == city ~ '|' ~ country %}selected{% endif %}>
                                {{ city }}, {{ country }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                
                <!-- Filter by Type -->
                <div>
                    <label for="location_type">Filter by Type:</label>
                    <select name="location_type" id="location_type" onchange="this.form.submit()">
                        <option value="" {% if not request.args.get('location_type') %}selected{% endif %}>No Filter</option>
                        {% for location_type in location_types %}
                            <option value="{{ location_type[0] }}" {% if request.args.get('location_type') == location_type[0] %}selected{% endif %}>
                                {{ location_type[0] }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
    </div>

    {% if location_data|length == 0 %}
        <p class="text-blue" style="font-size: 1.5em; text-align: center; margin-top: 20px;">
            There are no locations available with these filters.<br>Please select another filter.
        </p>
    {% else %}
        
        <p class="text-blue" style="font-size: 1.5em; text-align: center; margin-top: 20px;">
            These are all available locations with your filters.
        </p>

        <!-- Display Locations -->
        <div class="location-grid">
            {% for item in location_data %}
                <div class="location-card" style="height: 530px;">
                    <h3>{{ item.location_name }}</h3>
                    <img src="{{ url_for('static', filename='images/' ~ item.location_picture ~ '.jpg') }}" 
                        alt="Image of {{ item.location_name }}" style="width: 100%; object-fit: cover;">

                    <!-- Location Rating Display -->
                    {% if item.location_rating %}
                        <div class="rating-stars">
                            {% for star in range(5) %}
                                {% if star < item.location_rating %}
                                    <span class="star filled" style="font-size: 2em;">&#9733;</span>
                                {% else %}
                                    <span class="star empty" style="font-size: 2em;">&#9733;</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <span>No Rating Yet</span>
                    {% endif %}

                    <p><strong>Type:</strong> {{ item.location_type }}</p>
                    <p><strong>Address:</strong> {{ item.street }} {{ item.street_number }},
                        {{ item.postal_code }} {{ item.city }}, {{ item.country }}</p>
                    <p><strong>Available Seats:</strong> {{ item.chairs }}</p>

                    <p><strong>Opening Hours:</strong></p>
                    <ul style="list-style-type: none; padding: 0; margin-top: 0px;">
                        {% if item.monday_open and item.monday_close %}
                            <li><strong>Monday:</strong> {{ item.monday_open }}h - {{ item.monday_close }}h</li>
                        {% else %}
                            <li><strong>Monday:</strong> Closed</li>
                        {% endif %}
                        {% if item.tuesday_open and item.tuesday_close %}
                            <li><strong>Tuesday:</strong> {{ item.tuesday_open }}h - {{ item.tuesday_close }}h</li>
                        {% else %}
                            <li><strong>Tuesday:</strong> Closed</li>
                        {% endif %}
                        {% if item.wednesday_open and item.wednesday_close %}
                            <li><strong>Wednesday:</strong> {{ item.wednesday_open }}h - {{ item.wednesday_close }}h</li>
                        {% else %}
                            <li><strong>Wednesday:</strong> Closed</li>
                        {% endif %}
                        {% if item.thursday_open and item.thursday_close %}
                            <li><strong>Thursday:</strong> {{ item.thursday_open }}h - {{ item.thursday_close }}h</li>
                        {% else %}
                            <li><strong>Thursday:</strong> Closed</li>
                        {% endif %}
                        {% if item.friday_open and item.friday_close %}
                            <li><strong>Friday:</strong> {{ item.friday_open }}h - {{ item.friday_close }}h</li>
                        {% else %}
                            <li><strong>Friday:</strong> Closed</li>
                        {% endif %}
                        {% if item.saturday_open and item.saturday_close %}
                            <li><strong>Saturday:</strong> {{ item.saturday_open }}h - {{ item.saturday_close }}h</li>
                        {% else %}
                            <li><strong>Saturday:</strong> Closed</li>
                        {% endif %}
                        {% if item.sunday_open and item.sunday_close %}
                            <li><strong>Sunday:</strong> {{ item.sunday_open }}h - {{ item.sunday_close }}h</li>
                        {% else %}
                            <li><strong>Sunday:</strong> Closed</li>
                        {% endif %}
                    </ul>
                </div>
            {% endfor %}
        </div>

        <!-- Book Reservation Button -->
        <form action="{{ url_for('main.make_reservation') }}" method="get" style="text-align: center">
            <button type="submit" class="btn btn-black" style="width: 220px;">Book a Reservation</button>
        </form>

        {% endif %}
    </div>
</div>

<!-- Footer Section with black background -->
<div style="background-color: black; color: white; padding: 75px; height: 100px;">
    <div style="display: flex; justify-content: center; align-items: flex-start; text-align: center; gap: 100px; max-width: 1200px; margin: 0 auto; margin-top: -50px;">
        <!-- Locations Column -->
        <div style="text-align: left;">
            <p style="font-size: 1.5em; font-weight: bold; text-align: left; color:white;">Locations</p>
            <form action="{{ url_for('main.all_locations') }}" method="get" style="margin: 0;">
                <button type="submit" style="background: none; border: none; color: white; font-size: 1.2em; cursor: pointer; margin-bottom: 10px;">Locations</button>
            </form>
            <form action="{{ url_for('main.upload_location') }}" method="get" style="margin: 0;">
                <button type="submit" style="background: none; border: none; color: white; font-size: 1.2em; cursor: pointer; margin-bottom: 10px;">Upload Location</button>
            </form>
            <form action="{{ url_for('main.your_bookings') }}" method="get" style="margin: 0;">
                <button type="submit" style="background: none; border: none; color: white; font-size: 1.2em; cursor: pointer; margin-bottom: 10px;">Your Bookings</button>
            </form>
        </div>

        <!-- Reservations Column -->
        <div style="text-align: left;">
            <p style="font-size: 1.5em; font-weight: bold; text-align: left; color:white;">Reservations</p>
            <form action="{{ url_for('main.make_reservation') }}" method="get" style="margin: 0;">
                <button type="submit" style="background: none; border: none; color: white; font-size: 1.2em; cursor: pointer; margin-bottom: 10px;">Make Reservation</button>
            </form>
            <form action="{{ url_for('main.your_reservations') }}" method="get" style="margin: 0;">
                <button type="submit" style="background: none; border: none; color: white; font-size: 1.2em; cursor: pointer; margin-bottom: 10px;">Your Reservations</button>
            </form>
        </div>

        <!-- Community Column -->
        <div style="text-align: left;">
            <p style="font-size: 1.5em; font-weight: bold; text-align: left; color:white;">Community</p>
            <form action="{{ url_for('main.account') }}" method="get" style="margin: 0;">
                <button type="submit" style="background: none; border: none; color: white; font-size: 1.2em; cursor: pointer; margin-bottom: 10px;">Your Account</button>
            </form>
            <form action="{{ url_for('main.about') }}" method="get" style="margin: 0;">
                <button type="submit" style="background: none; border: none; color: white; font-size: 1.2em; cursor: pointer; margin-bottom: 10px;">About Us</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}