{% extends 'base.html' %}

{% block head %}
<title>Your Location Bookings</title>
{% endblock %}

{% block body %}
<div class="locations-container">
    <!-- Buttons in the right upper corner -->
    <div class="button-container" style="position: fixed; top: 20px; right: 20px; display: flex; flex-direction: column; gap: 0px; z-index: 999;">
        <form action="{{ url_for('main.main_page') }}" method="get" class="inline-form">
            <button type="submit" class="btn btn-transparant" style="width: 200px; font-size: 1em; padding: 10px 20px;">Main Page</button>
        </form>
        <form action="{{ url_for('main.home') }}" method="get" class="inline-form">
            <button type="submit" class="btn btn-black" style="width: 200px; font-size: 1em; padding: 10px 20px;">Log out</button>
        </form>
    </div>

    <!-- Logo -->
    <div style="display: flex; justify-content: center; align-items: center; height: 100%; margin-top: 20px;">
        <img src="{{ url_for('static', filename='images/logo_wit.jpg') }}" alt="logo" style="width: 150px;">
    </div>


<!-- edit_location.html -->
<div class="centered-form">
<form-change action="{{ url_for('main.edit_location', location_id=location.id) }}" method="POST">
    
    <h2>Edit Location</h2>

    <div>
        <label for="location_name">Location Name:</label>
        <input type="text" id="location_name" name="location_name" value="{{ location.location_name }}">
    </div>

    <div>
        <label for="location_type">Location Type:</label>
        <input type="text" id="location_type" name="location_type" value="{{ location.location_type }}">
    </div>

    <div>
        <label for="country">Country:</label>
        <input type="text" id="country" name="country" value="{{ location.country }}">
    </div>

    <div>
        <label for="postal_code">Postal Code:</label>
        <input type="text" id="postal_code" name="postal_code" value="{{ location.postal_code }}">
    </div>

    <div>
        <label for="city">City:</label>
        <input type="text" id="city" name="city" value="{{ location.city }}">
    </div>

    <div>
        <label for="street">Street:</label>
        <input type="text" id="street" name="street" value="{{ location.street }}">
    </div>

    <div>
        <label for="street_number">Street Number:</label>
        <input type="text" id="street_number" name="street_number" value="{{ location.street_number }}">
    </div>

    <div>
        <label for="chairs">Chairs:</label>
        <input type="number" id="chairs" name="chairs" value="{{ location.chairs }}">
    </div>

    <!-- Opening Hours Section -->
    <div class="opening-hours-section">

        <div>
            <label for="monday_open">Monday Open:</label>
            <input type="time" id="monday_open" name="monday_open" value="{{ location.monday_open }}">
        </div>

        <div>
            <label for="monday_close">Monday Close:</label>
            <input type="time" id="monday_close" name="monday_close" value="{{ location.monday_close }}">
        </div>

        <div>
            <label for="tuesday_open">Tuesday Open:</label>
            <input type="time" id="tuesday_open" name="tuesday_open" value="{{ location.tuesday_open }}">
        </div>

        <div>
            <label for="tuesday_close">Tuesday Close:</label>
            <input type="time" id="tuesday_close" name="tuesday_close" value="{{ location.tuesday_close }}">
        </div>

        <div>
            <label for="wednesday_open">Wednesday Open:</label>
            <input type="time" id="wednesday_open" name="wednesday_open" value="{{ location.wednesday_open }}">
        </div>

        <div>
            <label for="wednesday_close">Wednesday Close:</label>
            <input type="time" id="wednesday_close" name="wednesday_close" value="{{ location.wednesday_close }}">
        </div>
    
        <div>
            <label for="thursday_open">Thursday Open:</label>
            <input type="time" id="thursday_open" name="thursday_open" value="{{ location.thursday_open }}">
        </div>

        <div>
            <label for="thursday_close">Thursday Close:</label>
            <input type="time" id="thursday_close" name="thursday_close" value="{{ location.thursday_close }}">
        </div>

        <div>
            <label for="friday_open">Friday Open:</label>
            <input type="time" id="friday_open" name="friday_open" value="{{ location.friday_open }}">
        </div>

        <div>
            <label for="Friday">Friday Close:</label>
            <input type="time" id="friday_close" name="friday_close" value="{{ location.friday_close }}">
        </div>

        <div>
            <label for="saturday_open">Saturday Open:</label>
            <input type="time" id="saturday_open" name="saturday_open" value="{{ location.saturday_open }}">
        </div>

        <div>
            <label for="saturday_close">Saturday Close:</label>
            <input type="time" id="saturday_close" name="saturday_close" value="{{ location.saturday_close }}">
        </div>

        <div>
            <label for="sunday_open">Sunday Open:</label>
            <input type="time" id="sunday_open" name="sunday_open" value="{{ location.sunday_open }}">
        </div>

        <div>
            <label for="sunday_close">Sunday Close:</label>
            <input type="time" id="sunday_close" name="sunday_close" value="{{ location.sunday_close }}">
        </div>
    </div>

    <div style="text-align: center; margin-top: 20px;">
        <button type="submit" class="btn btn-black" style="font-size: 1.2em; padding: 10px 20px;">
            Update Location
        </button>
    </div>
</form-change>
{% endblock %}
