{% extends 'base.html' %}

{% block head %}
<title>Chairing</title>
{% endblock %}

{% block body %}
<!-- Top white bar -->
<div style="display: flex; justify-content: center; align-items: center; background-color: white; padding: 10px 10px; border-bottom: 1px solid #eaeaea; position: fixed; top: 0; width: 100%; z-index: 1000; text-align: center;">
    <!-- Left Section: Logo and Buttons -->
    <div style="display: flex; align-items: center; justify-content: center;">
        <a href="{{ url_for('main.main_page') }}" style="display: inline-block;">
            <img src="{{ url_for('static', filename='images/logo_wit2.JPG') }}" alt="logo" style="height: 50px; margin-right: 20px; top: -3px;">
        </a>
        <!-- Home Button -->
        <form action="{{ url_for('main.main_page') }}" method="get" style="margin-left: 30px;">
            <button type="submit" style="background: none; border: none; font-size: 1.3em; color: #333; cursor: pointer;">Home</button>
        </form>
        <!-- Locations Dropdown -->
        <div style="position: relative; margin-left: 30px;">
            <button style="background: none; border: none; font-size: 1.3em; color: #333; cursor: pointer;">Locations ▼</button>
            <div class="dropdown-menu" style="width: 200px; position: absolute; top: 100%; left: 0; background: white; border: 1px solid #ccc; border-radius: 10px; display: none; padding: 5px;">
                <a href="{{ url_for('main.all_locations') }}" style="text-decoration: none; color: #333; display: block; padding: 5px; text-align: left;">All Locations</a>
                <a href="{{ url_for('main.locations') }}" style="text-decoration: none; color: #333; display: block; padding: 5px; text-align: left;">Upload Location</a>
            </div>
        </div>
        <!-- Reservation Dropdown -->
        <div style="position: relative; margin-left: 30px;">
            <button style="background: none; border: none; font-size: 1.3em; color: #333; cursor: pointer;">Reservation ▼</button>
            <div class="dropdown-menu" style="width: 200px; position: absolute; top: 100%; left: 0; background: white; border: 1px solid #ccc; border-radius: 10px; display: none; padding: 5px;">
                <a href="{{ url_for('main.reservations') }}" style="text-decoration: none; color: #333; display: block; padding: 5px; text-align: left;">Make Reservation</a>
                <a href="{{ url_for('main.current_reservations') }}" style="text-decoration: none; color: #333; display: block; padding: 5px; text-align: left;">Your Reservation</a>
                <a href="{{ url_for('main.location_bookings') }}" style="text-decoration: none; color: #333; display: block; padding: 5px; text-align: left;">Your Bookings</a>
            </div>
        </div>
        <!-- About Us Button -->
        <form action="{{ url_for('main.about') }}" method="get" style="margin-left: 30px; margin-right: 150px;">
             <button type="submit" style="background: none; border: none; font-size: 1.3em; color: #333; cursor: pointer;">About Us</button>
        </form>

    </div>

    <!-- Right Section: Authentication Buttons -->
    <div style="display: flex; align-items: center; gap: 10px;">
        <!-- Your Account Button -->
        <form action="{{ url_for('main.your_account') }}" method="get" style="margin-left: 150px;">
            <button type="submit" style="display: flex; align-items: center; background: none; border: none; font-size: 1.3em; color: #333; cursor: pointer;">
                <!-- User Image (replace with your image path) -->
                <img src="{{ url_for('static', filename='images/user.jpg') }}" alt="User Avatar" width="25" height="25" style="margin-right: 10px; border-radius: 0; color: #1946ca;">
                Your Account
            </button>
        </form>

        <span style="color: #ccc;">|</span>
        <!-- Logout Button -->
        <form action="{{ url_for('main.home') }}" method="get" style="margin: 0;">
            <button type="submit" style="background: none; border: none; font-size: 1.3em; color: #333; cursor: pointer;">Logout</button>
        </form>
    </div>
</div>

<!-- Main Section -->
<div style="display: flex; align-items: center; justify-content: center; margin-top: 150px; padding: 10px 10px; gap: 150px;">
    <!-- Left Section: Text and Buttons -->
    <div style="max-width: 50%; margin-top: 10px;">
        <p style="font-size: 1.5em; color: black; margin-bottom: 0px; text-align: left;">Welcome {{ user.username }},<br>are you looking for the perfect place to study?</p>
        <p class="text-modern" style="font-size: 4.5em; font-weight: bold;  margin-top: 0px; margin-bottom: 0px; text-align: left;">Chairing Has<br>You Covered!</p>
        <p style="font-size: 1.4em; margin-top: 0px; margin-bottom: 20px; text-align: left;">Pick a study location for the day and get to work!<br>Or upload your own location!</p>
        
        <!-- Centered Buttons with flex-direction: row -->
        <div style="display: flex; flex-direction: row; justify-content: flex-start; gap: 20px; margin-left: 20px;">
            <form action="{{ url_for('main.reservations') }}" method="get">
                <button type="submit" class="btn btn-transparant" style="width: 170px">Make Your Reservation</button>
            </form>
            <form action="{{ url_for('main.locations') }}" method="get">
                <button type="submit" class="btn btn-black" style="width: 170px;">Upload Your Location</button>
            </form>
        </div>
        
    </div>

    <!-- Right Section: Image -->
    <div>
        <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Chairing Logo" style="width: 450px;">
    </div>
</div>

<!-- Spotlight Locations -->
<div style="justify-content: center; margin-top: 130px; text-align: center; background-color: white; padding: 30px 0;">
    <h2 style="font-family: Arial, sans-serif; font-size: 2.5em; margin-bottom: 50px; margin-top: 100px;">This Week's Highlighted Locations</h2>
    <div class="Review" style="display: flex; flex-direction: row; justify-content: center; flex-wrap: wrap; gap: 40px; margin-bottom: 50px;">
        {% for location in highlighted_locations %}
        <div class="spotlight" style="background-color: #F5F5F5; padding: 10px; border-radius: 8px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); max-width: 300px; text-align: center;">
            <div class="spotlight-location" id="highlighted-location" style="width: 250px;">
                <h4 style="font-size: 1.7em; color: #333; text-align: center; margin-bottom: 10px; margin-top: 10px;">{{ location.location_name }}</h4>
                
                <!-- Rating -->
                {% if location.location_rating %}
                <div class="rating-container" style="text-align: center; margin: 10px auto;">
                    {% for star in range(1, 6) %}
                        {% if star <= location.location_rating %}
                            <span style="color: gold;">&#9733;</span>  <!-- Filled star -->
                        {% else %}
                            <span style="color: white;">&#9733;</span>  <!-- Empty star -->
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                
                {% if location.location_picture %}
                <div class="image-container">
                    <img src="{{ url_for('static', filename='images/' ~ location.location_picture ~ '.jpg') }}" alt="Location Image">
                </div>
                {% endif %}

                <!-- Address -->
                <p><strong>Address:</strong> {{ location.street }} {{ location.street_number }},
                    {{ location.postal_code }} {{ location.city }}, {{ location.country }}</p>
                
                <!-- Opening Hours Section -->
                <p><strong>Opening Hours:</strong></p>
                <ul style="list-style-type: none; padding: 0; margin-top: 0px;">
                    {% if location.monday_open and location.monday_close %}
                        <li><strong>Monday:</strong> {{ location.monday_open }}h - {{ location.monday_close }}h</li>
                    {% else %}
                        <li><strong>Monday:</strong> Closed</li>
                    {% endif %}
                    {% if location.tuesday_open and location.tuesday_close %}
                        <li><strong>Tuesday:</strong> {{ location.tuesday_open }}h - {{ location.tuesday_close }}h</li>
                    {% else %}
                        <li><strong>Tuesday:</strong> Closed</li>
                    {% endif %}
                    {% if location.wednesday_open and location.wednesday_close %}
                        <li><strong>Wednesday:</strong> {{ location.wednesday_open }}h - {{ location.wednesday_close }}h</li>
                    {% else %}
                        <li><strong>Wednesday:</strong> Closed</li>
                    {% endif %}
                    {% if location.thursday_open and location.thursday_close %}
                        <li><strong>Thursday:</strong> {{ location.thursday_open }}h - {{ location.thursday_close }}h</li>
                    {% else %}
                        <li><strong>Thursday:</strong> Closed</li>
                    {% endif %}
                    {% if location.friday_open and location.friday_close %}
                        <li><strong>Friday:</strong> {{ location.friday_open }}h - {{ location.friday_close }}h</li>
                    {% else %}
                        <li><strong>Friday:</strong> Closed</li>
                    {% endif %}
                    {% if location.saturday_open and location.saturday_close %}
                        <li><strong>Saturday:</strong> {{ location.saturday_open }}h - {{ location.saturday_close }}h</li>
                    {% else %}
                        <li><strong>Saturday:</strong> Closed</li>
                    {% endif %}
                    {% if location.sunday_open and location.sunday_close %}
                        <li><strong>Sunday:</strong> {{ location.sunday_open }}h - {{ location.sunday_close }}h</li>
                    {% else %}
                        <li><strong>Sunday:</strong> Closed</li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
    <form action="{{ url_for('main.all_locations') }}" method="get" class="inline-form">
        <button type="submit" class="btn btn-black" style="width: 200px; margin-bottom: 100px">View All Locations</button>
    </form>
</div>

<!-- Main Options -->
<div style="justify-content: center; margin-top: 100px; text-align: center; padding: 30px 0;">
    <h2 style="font-family: Arial, sans-serif; font-size: 2.5em; margin-bottom: 50px; margin-top: 0px;">Get Started With Chairing!</h2>
    <div class="Option" style="display: flex; justify-content: center; gap: 40px; flex-wrap: wrap; margin-bottom: 100px;">
        <!-- Make Reservation -->
        <form action="{{ url_for('main.reservations') }}" method="get" class="inline-form">
            <div class="option" style="background-color: white; padding: 20px; border-radius: 8px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); width: 250px;">
                <p style="font-weight: bold; margin-top: 10px; color: rgb(25, 70, 202);">- Make a Reservation -</p>
                <a href="{{ url_for('main.reservations') }}" style="display: inline-block;">
                    <img src="{{ url_for('static', filename='images/reservation_wit.JPG') }}" alt="logo" style="height: 200px; top: -3px;">
                </a>
                <p style="font-style: italic;">Book a seat at a location<br>and time of your choice</p>
                <button type="submit" class="btn btn-black" style="width: 100%;">Make Reservations</button>
            </div>
        </form>

        <!-- Your Reservations -->
        <form action="{{ url_for('main.current_reservations') }}" method="get" class="inline-form">
            <div class="option" style="background-color: white; padding: 20px; border-radius: 8px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); width: 250px;">
                <p style="font-weight: bold; margin-top: 10px; color: rgb(25, 70, 202); ">- Your Reservations -</p>
                <a href="{{ url_for('main.current_reservations') }}"style="display: inline-block;">
                    <img src="{{ url_for('static', filename='images/check_wit.JPG') }}" alt="logo" style="height: 200px; top: -3px;">
                </a>
                <p style="font-style: italic; ">Consult, cancel or<br>rate your reservations</p>
                <button type="submit" class="btn btn-black" style="width: 100%;">Your Reservations</button>
            </div>
        </form>

        <!-- Your Location -->
        <form action="{{ url_for('main.locations') }}" method="get" class="inline-form">
            <div class="option" style="background-color: white; padding: 20px; border-radius: 8px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); width: 250px;">
                <p style="font-weight: bold; margin-top: 10px; color: rgb(25, 70, 202); ">- Upload Your Location -</p>
                <a href="{{ url_for('main.locations') }}"style="display: inline-block;">
                    <img src="{{ url_for('static', filename='images/location_wit.JPG') }}" alt="logo" style="height: 200px; top: -3px;">
                </a>
                <p style="font-style: italic;">Upload your own location for students to visit</p>
                <button type="submit" class="btn btn-black" style="width: 100%;">Upload Location</button>
            </div>
        </form>

        <!-- Your Bookings -->
        <form action="{{ url_for('main.location_bookings') }}" method="get" class="inline-form">
            <div class="option" style="background-color: white; padding: 20px; border-radius: 8px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); width: 250px;">
                <p style="font-weight: bold; margin-top: 10px; color: rgb(25, 70, 202);">- Your Location Bookings -</p>
                <a href="{{ url_for('main.location_bookings') }}" style="display: inline-block;">
                    <img src="{{ url_for('static', filename='images/pin_wit.JPG') }}" alt="logo" style="height: 200px; top: -3px;">
                </a>
                <p style="font-style: italic; ">See who booked your<br>location and give ratings</p>
                <button type="submit" class="btn btn-black" style="width: 100%;">Your Bookings</button>
            </div>
        </form>
    </div>
</div>

<!-- Footer Section with black background -->
<div style="background-color: black; color: white; padding: 75px; height: 100px;">
    <div style="display: flex; justify-content: center; align-items: flex-start; text-align: center; gap: 100px; max-width: 1200px; margin: 0 auto; margin-top: -50px;">
        <!-- Locations Column -->
        <div style="text-align: left;">
            <p style="font-size: 1.5em; font-weight: bold; text-align: left; color:white;">Locations</p>
            <form action="{{ url_for('main.all_locations') }}" method="get" style="margin: 0;">
                <button type="submit" style="background: none; border: none; color: white; font-size: 1.2em; cursor: pointer; margin-bottom: 10px;">Locations</button>
            </form>
            <form action="{{ url_for('main.locations') }}" method="get" style="margin: 0;">
                <button type="submit" style="background: none; border: none; color: white; font-size: 1.2em; cursor: pointer; margin-bottom: 10px;">Upload Location</button>
            </form>
        </div>

        <!-- Reservations Column -->
        <div style="text-align: left;">
            <p style="font-size: 1.5em; font-weight: bold; text-align: left; color:white;">Reservations</p>
            <form action="{{ url_for('main.reservations') }}" method="get" style="margin: 0;">
                <button type="submit" style="background: none; border: none; color: white; font-size: 1.2em; cursor: pointer; margin-bottom: 10px;">Make Reservation</button>
            </form>
            <form action="{{ url_for('main.current_reservations') }}" method="get" style="margin: 0;">
                <button type="submit" style="background: none; border: none; color: white; font-size: 1.2em; cursor: pointer; margin-bottom: 10px;">Your Reservations</button>
            </form>
            <form action="{{ url_for('main.location_bookings') }}" method="get" style="margin: 0;">
                <button type="submit" style="background: none; border: none; color: white; font-size: 1.2em; cursor: pointer; margin-bottom: 10px;">Your Bookings</button>
            </form>
        </div>

        <!-- Community Column -->
        <div style="text-align: left;">
            <p style="font-size: 1.5em; font-weight: bold; text-align: left; color:white;">Community</p>
            <form action="{{ url_for('main.your_account') }}" method="get" style="margin: 0;">
                <button type="submit" style="background: none; border: none; color: white; font-size: 1.2em; cursor: pointer; margin-bottom: 10px;">Your Account</button>
            </form>
            <form action="{{ url_for('main.about') }}" method="get" style="margin: 0;">
                <button type="submit" style="background: none; border: none; color: white; font-size: 1.2em; cursor: pointer; margin-bottom: 10px;">About Us</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
