{% extends 'base.html' %}

{% block head %}
<title>Chairing</title>
{% endblock %}

{% block body %}
<div class="main-container" style="text-align: center; margin-top: 50px;">

    <!-- Logout button -->
    <form action="{{ url_for('main.home') }}" method="get" class="inline-form" style="position: fixed; top: 20px; right: 20px;">
        <button type="submit" class="btn btn-black" style="width: 120px; font-size: 1em; padding: 10px 20px;">Log out</button>
    </form>

    <!-- Logo -->
    <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="logo" style="width: 300px; margin-top: 20px;">
    
    <!-- Welcom Back -->
    <h1 style="color: grey;">Welcome,<br>{{ user.username }}</h1>

    <!-- The Student's Average Rating -->
    <div id="student-rating">
        <h3>Your Rating:</h3>
        {% if user.user_rating %}
            <!-- Display stars for received location rating -->
            {% for star in range(5) %}
                {% if star < user.user_rating %}
                    <span class="star filled">&#9733;</span>
                {% else %}
                    <span class="star empty">&#9733;</span>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No rating yet.</p>
        {% endif %}
    </div>

    {% if congratulations_message %}
        <p class="congratulations">{{ congratulations_message }}</p>
    {% endif %}

    <!-- Spotlight and Target Container -->
    <div class="target-spotlight-container">
        <!-- Spotlight Location Section -->
        {% if highlighted_location %}
            <div class="spotlight-location" id="highlighted-location">
                <h3>This Week's Spotlight:</h3>
                <h4 style="font-size: 16px; color: #333; text-align: center; margin-bottom: 0px;">{{ highlighted_location.location_name }}</h4>
                
                <!-- Display the average Location Rating (if available) -->
                {% if highlighted_location.location_rating %}
                    <div class="rating-container">
                        {% for star in range(1, 6) %}
                            {% if star <= highlighted_location.location_rating %}
                                <span style="color: gold;">&#9733;</span>  <!-- Filled star -->
                            {% else %}
                                <span style="color: white;">&#9733;</span>  <!-- Empty star -->
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                
                {% if highlighted_location.location_picture %}
                    <div class="image-container">
                        <img src="{{ url_for('static', filename='images/' ~ highlighted_location.location_picture ~ '.jpg') }}" alt="Location Image">
                    </div>
                {% endif %}
                <form action="{{ url_for('main.all_locations') }}" method="get" class="inline-form">
                    <button type="submit" class="btn btn-transparant" style="width: 200px;">View All Locations</button>
                </form>
            </div>
        {% else %}
            <p>No location has been highlighted this week.</p>
        {% endif %}

        <!-- Weekly Targets Section -->
        <div class="weekly-target" id="weekly-target">
            <h3>Your Weekly Targets:</h3>

            <!-- Study Time Target Section -->
            <div id="minutes-target">
                <h4>Study Time Target:</h4>
                {% if user.minutes_target %}
                    <p style="margin-top: 27px;">{{ completed_hours }}h{{ "%02d"|format(completed_minutes) }} of {{ target_hours }}h{{ "%02d"|format(target_minutes) }} done</p>
                    <form action="{{ url_for('main.main_page') }}" method="POST">
                        <button type="submit" name="delete_minutes_target">Delete Target</button>
                    </form>
                {% else %}
                    <form action="{{ url_for('main.main_page') }}" method="POST" class="time-target-form">
                        <div class="time-select-group">
                            <select name="hours" id="hours-select">
                                {% for hour in range(0, 100) %}
                                <option value="{{ hour }}">{{ hour }} hour{{ '' if hour == 1 else 's' }}</option>
                                {% endfor %}
                            </select>
                            <select name="minutes" id="minutes-select">
                                {% for minute in [0, 15, 30, 45] %}
                                <option value="{{ minute }}">{{ minute }} minute{{ '' if minute == 1 else 's' }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button class="btn btn-black" style="width: 100%; margin-top: -5px;" type="submit">Set Target</button>
                    </form>
                {% endif %}
            </div>

            <!-- Study Sessions Target Section -->
            <div id="sessions-target">
                <h4>Study Sessions Target:</h4>
                {% if user.sessions_target %}
                    <p style="margin-top: 27px;">{{ completed_sessions }} of {{ target_sessions }} sessions done</p>
                    <form action="{{ url_for('main.main_page') }}" method="POST">
                        <button type="submit" name="delete_sessions_target">Delete Target</button>
                    </form>
                {% else %}
                    <form action="{{ url_for('main.main_page') }}" method="POST">
                        <div class="time-select-group">
                            <select name="sessions_target" id="sessions-select">
                                {% for session in range(0, 29) %}
                                <option value="{{ session }}">{{ session }} session{{ '' if session == 1 else 's' }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button class="btn btn-black" style="width: 100%; margin-top: -10px;" type="submit">Set Target</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>



    <!--Buttons for Reservation and Uploading Locations-->
    <div style="display: flex; justify-content: center; gap: 50px; margin-top: 0px;">

        <!--Make a Reservation-->
        <div class="option-container" style="text-align: center; width: 250px;">
            <form action="{{ url_for('main.reservations') }}" method="get" class="inline-form">
                <button type="submit" class="btn btn-black" style="width: 200px; font-size: 1.2em; padding: 10px 20px">Make a Reservation</button>
            </form>
            <img src="{{ url_for('static', filename='images/reservation.JPG') }}" alt="Reservation Image" style="width: 100%; margin-top: 20px;">
            <p style="font-size: 1.3em; color: grey; margin-top: 5px;"> Book a seat at a<br>location of your choice</p>
        </div>

        <!--Upload Your Location-->
        <div class="option-container" style="text-align: center; width: 250px;">
            <form action="{{ url_for('main.locations') }}" method="get" class="inline-form">
                <button type="submit" class="btn btn-transparant" style="width: 200px; font-size: 1.2em; padding: 10px 20px">Upload Your<br>Location</button>
            </form>
            <img src="{{ url_for('static', filename='images/location.JPG') }}" alt="Location Image" style="width: 100%; margin-top: 20px">
            <p style="font-size: 1.3em; color: grey; margin-top: 20px;">Upload your own location<br>for students to visit</p>
        </div>
    </div>

    <!--Buttons for Reservation and Uploading Locations-->
    <div style="display: flex; justify-content: center; gap: 50px; margin-top: 10px;">

        <!-- Your Reservations -->
        <div class="option-container" style="text-align: center; width: 250px;">
            <form action="{{ url_for('main.current_reservations') }}" method="get" class="inline-form">
                <button type="submit" class="btn btn-transparant" style="width: 200px; font-size: 1.2em; padding: 10px 20px">Your Reservations</button>
            </form>
            <img src="{{ url_for('static', filename='images/check.JPG') }}" alt="Current Reservation Image" style="height: 200px; margin-top: 20px;">
            <p style="font-size: 1.3em; color: grey; margin-top: 20px;"> Consult, cancel or rate your reservation</p>
        </div>

        <!--Your Location Bookings-->
        <div class="option-container" style="text-align: center; width: 250px;">
            <form action="{{ url_for('main.location_bookings') }}" method="get" class="inline-form">
                <button type="submit" class="btn btn-black" style="width: 200px; font-size: 1.2em; padding: 10px 20px">Your Location Bookings</button>
            </form>
            <img src="{{ url_for('static', filename='images/pin.JPG') }}" alt="Booking Image" style="height: 200px; margin-top: 20px">
            <p style="font-size: 1.3em; color: grey; margin-top: 20px;">See who booked your location and at what time</p>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Find the flash message by targeting common classes for alert messages
            const flashMessages = document.querySelectorAll('.alert, .flash, .message');

            flashMessages.forEach(function(message) {
                // Remove the flash message after 3 seconds
                setTimeout(function() {
                    message.style.display = 'none';
                }, 3000);
            });
        });
    </script>
</div>
{% endblock %}
