{% extends 'base.html' %}

{% block head %}
<title>Sign Up</title>
{% endblock %}

{% block body %}
<div class="login-signup-container {% if get_flashed_messages() %}flash-active{% endif %}" style="height: 500px">
    <h1 style="text-align: left;">Create your account: </h1>

     <!-- Display flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('main.signup') }}" method="post">
        <!--Username-->
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Enter your username" required>

        <!--Password-->
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>

        <!--Confirm password-->
        <label for="confirm_password">Confirm Password</label>
        <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm your password" required>

        <!--Sign Up button-->
        <button type="submit" class="btn btn-black">Sign Up</button>
    </form>

    <!--Already have an account / Login-->
    <div style="text-align: right; margin-top: 20px;">
        <span class="have-account">Already have an account?</span>
        <form action="{{ url_for('main.login') }}" method="get" style="display: inline;">
            <button type="submit" class="btn btn-transparant">Login</button>
        </form>
    </div>
</div>
{% endblock %}